<ion-header>
  <ion-title style="color: #36BAFB; font-size: 30px; font-family: Poppins !important;">
    Who's Up<ion-icon style="position: absolute; font-size: 30px; color: red; margin-top: 8px" name="pin-outline"></ion-icon>
  </ion-title>
</ion-header>

<ion-content>
  
  
			<br>
      <ion-card>
        <ion-card-content>
      <ion-row style="margin-bottom: 10px">
        <ion-button style="--background: #EB2026; text-transform: none;font-size:25px; height: 50px; width: 100%" [routerLink]="['/login']">
          Sign in
        </ion-button>
        
      </ion-row>
      <ion-row>
        <ion-button style="--background: #EB2026; text-transform: none; font-size:25px; height: 50px; width: 100%" [routerLink]="['/signup']" >
				Sign up
			</ion-button></ion-row>
    </ion-card-content>
    </ion-card>
			
</ion-content>
