/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {   
    font-family: 'Poppins';    //This is what we are going to call
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {   
	font-family: 'Quicksand';    //This is what we are going to call
	src: url('./assets/fonts/Quicksand-Regular.ttf');
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: rgb(33, 33, 33, 1);
}
textarea:focus, input:focus{
	outline: none;
}
html {
	font-family: "Poppins", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	text-align: left;
	align-self: center;
	width: 100%;
	height: auto;
	margin: 0;
	margin-right: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h1 {
	color: rgba(255, 255, 255, 1);
	font-size: 24px;
	text-align: left;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
h3 {
	font-size: 16px;
	font-weight: 500;
}
h4 {
	font-size: 14px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 2px;
}
h5 {
	font-weight: 500;
	font-size: 12px;
}

/* CALENDAR ICON */
.cal {
  display: flex;
	flex-direction: column;
  background-color: #FFF;
  width: 42px;
	height: 42px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
}
.cal .month {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 28%;
  font-size: 0.6em;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.20em;
  text-transform: uppercase;
  background-color: #DE8298;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cal .date {
  font-size: 1.2rem;
	font-weight: 600;
  color: #585858;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

/* HEADER / TOP BAR */

ion-header {
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	flex-direction: row;
	justify-content: space-between;
	height: 75px;
	width: 100%;
	background-color: rgba(12, 179, 190, 1);
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35);
	align-self: stretch;
	align-items: center;
	flex-grow: 0;
	padding: 15px;
	gap: 10px;
}
.trailing-icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}
.icon-for-header {
	color: white;
	font-size: 30px;
	--ionicon-stroke-width: 40px;
	display: flex;
	align-items: center;
	align-content: center;
	cursor: pointer;
}
ion-footer .icon-for-header {
	font-size: 36px;
}
button {
	background-color: transparent;
	border: none;
}

ion-content {
	font-size: 14px;
	--background: rgba(245, 245, 245, 1);
	--color: rgb(33, 33, 33, 1);
	--padding-bottom: 20px;
	margin: 0;
}
ion-content ion-icon {
	font-size: 20px;
	width: 20px;
}

/* ICONS */

.notification-icon {
	min-width: 24px;
	min-height: 30px;
	background-image: url("../src/assets/images/notification-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	border: none;
	cursor: pointer;
}
ion-header div .search-icon {
	min-width: 24px;
	min-height: 30px;
	background-size: 22px;
}
.emoji {
	display: flex;
	position: relative;
	min-width: 10px;
	min-height: 10px;
	background-image: url("../src/assets/images/emoji.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 20px;
	border: none;
	cursor: pointer;
	padding: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: -15px;
}
@media (max-width: 640px) {
	.emoji {
		margin-bottom: auto;
		margin-right: auto;
		height: auto;
		align-self: center;
	}
}

/* EVENT INSTANCE BOX */

item {
	width: 100%;
}
.event-instance, .participant {
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 10px;
	align-items: center;
}
@media (max-width: 640px) {
	.event-instance {
		width: auto;
		flex-grow: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		align-self: stretch;
	}
}
.event-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: auto;
	flex-grow: 1;
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	gap: 4px;
}
.event-photo {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}
.event-pic, .user-pic {
	display: flex;
	position: relative;
	min-width: 60px;
	min-height: 60px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 80px;
	border: none;
	border-radius: 50%;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
@media (max-width: 640px) {
	.event-pic {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
		height: auto;
		align-self: center;
	}
}
.event-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 5px;
}
@media (max-width: 640px) {
	.event-details {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
.sub-detail {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-self: stretch;
	align-items: flex-end;
	align-content: center;
	margin-top: auto;
	gap: 4px;
}
.pin-icon {
	display: flex;
	position: relative;
	min-width: 14px;
	min-height: 14px;
	background-image: url("../src/assets/images/pin-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 13px;
	border: none;
}
.computer-icon, .computer-icon-black {
	display: flex;
	position: relative;
	min-width: 16px;
	min-height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px;
	border: none;
}
.computer-icon {
	background-image: url("../src/assets/images/computer-icon.png");
}
.computer-icon-black {
	background-image: url("../src/assets/images/computer-icon-black.png");
}
.participant-count {
	font-size: 11px;
	line-height: 100%;
	margin: 0;
	margin-top: auto;
	margin-left: auto;
}


/* POPOVER */
.popover {
	display: flex;
	height: auto;
	width: auto;
	flex-direction: column;
	align-items: flex-start;
	background: #FFFFFF;
	padding: 15px;
	gap: 10px;
	flex: none;
}
ion-popover::part(content) {
	width: auto;
	/*left: auto;
  right: 15px;*/
	border-radius: 10px;
}
.popover button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 16px;
	gap: 10px;
}
.popover ion-icon {
	font-size: 18px;
	--ionicon-stroke-width: 40px;
}


/* FOOTER / BOTTOM BAR */

ion-footer {
	display: flex;
	position: relative;
	bottom: 0;
	left: 0;
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	width: 100%;
	height: 75px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	background-color: rgba(12, 179, 190, 1);
	gap: 30px;
}
ul {
	list-style-type: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
ion-footer ul li {
	padding: 10px;
}
.active {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	gap: 10px;
}
@media (max-width: 640px) {
	.menu {
		width: auto;
		flex-grow: 1;
		height: auto;
	}
}
.home-icon {
	display: flex;
	min-width: 30px;
	min-height: 30px;
	background-image: url("../src/assets/images/home-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
	cursor: pointer;
}
.search-icon {
	display: flex;
	min-width: 30px;
	min-height: 30px;
	background-image: url("../src/assets/images/search-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
	cursor: pointer;
}
.new-event-icon {
	display: flex;
	min-width: 35px;
	min-height: 35px;
	background-image: url("../src/assets/images/new-event-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
	cursor: pointer;
}
.map-icon {
	display: flex;
	min-width: 30px;
	min-height: 30px;
	background-image: url("../src/assets/images/map-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border: none;
	cursor: pointer;
}
.person-icon {
	display: flex;
	min-width: 30px;
	min-height: 30px;
	background-image: url("../src/assets/images/person-icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
	cursor: pointer;
}
