<ion-app>
  <ion-menu content-id="menu" type="overlay">
    <ion-header>
      <ion-toolbar> <ion-title>Menu</ion-title></ion-toolbar></ion-header>
   <ion-content>
    <ion-row>
      <ion-col>
        <ion-button shape="round" style="text-transform: none; color:black; font-size: 20px;" fill="clear"><ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-content>
  <ion-footer>
    <ion-button style="color: black; font-size: 20px" fill="clear"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
