.DS_Store
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
/application/log.txt
/application/npm-debug.log*

/application/.angular
/application/.idea
/application/.ionic
/application/.sass-cache
/application/.sourcemaps
/application/.versions
/application/.vscode
/application/coverage
/application/dist
/application/node_modules
/application/platforms
/application/plugins
/application/www