<ion-content>
	<!-- FORM -->
	<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
		<!-- LOGO -->
		<div class="logo">
			<img src="../../../assets/images/logo.png" alt="Logo">
			<h1>Who'sUp</h1>
		</div>
	
		<!-- USERNAME -->
		<div class="field">
			<label for="name">Username</label>
			<input formControlName="name" class="textfield" type="text" id="name" placeholder="username" required>
		</div>

		<!-- EMAIL -->
		<div class="field">
			<label for="email">Email</label>
			<input formControlName="email" class="textfield" type="email" id="email" pattern=".+@.\.com" placeholder="example@mail.com" required>
		</div>
	
		<!-- PHONE -->
		<div class="field">
			<label for="phone">Cellphone</label>
			<input formControlName="phone" class="textfield" type="tel" id="phone" placeholder="099887766" required>
		</div>
	
		<!-- PASSWORD -->
		<div class="field">
			<label for="pass">Password</label>
			<input formControlName="password" class="textfield" type="password" id="pass" placeholder="password" required>
		</div>

		<!-- CONFIRM PASSWORD -->
		<div class="field">
			<label for="confirmpass">Confirm Password</label>
			<input formControlName="checkpassword" class="textfield" type="password" id="confirmpass" placeholder="password" required>
		</div>
	
		<!-- SIGN UP -->
		<button class="logbutton" type="submit">Sign up</button>
	
	</form>
	</ion-content>
