<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="font-size: 30px"></ion-menu-button>
      
    </ion-buttons>
    <ion-title style="color: #36BAFB; font-family: Poppins !important; font-size: 30px">
      Who's Up<ion-icon style="position: absolute; font-size: 30px; margin-top: 8px; color: red" name="pin-outline"></ion-icon>
    </ion-title>
    <ion-button style="--color: black;font-size: 20px" shape="round" slot="end" fill="clear"><ion-icon name="notifications-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Eventos</strong>
  </div>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row style="text-align: center">
    <ion-col><ion-button shape="round" style="--color: black;;" fill="clear"><ion-icon style="font-size: 30px"name="calendar-outline"></ion-icon>
    </ion-button></ion-col>
    <ion-col><div><ion-button shape="round" style="--color: black;;" fill="clear"><ion-icon style="font-size: 30px"name="add-circle-outline"></ion-icon>
    </ion-button></div></ion-col>
    <ion-col><div>
      <ion-button shape="round" style="--color: black;;" fill="clear"><ion-icon style="font-size: 30px"name="search-outline"></ion-icon>
      </ion-button></div></ion-col>
    <ion-col><div><ion-button shape="round" style="--color: black;;" fill="clear"><ion-icon style="font-size: 30px"name="locate-outline"></ion-icon>
    </ion-button></div></ion-col>
    </ion-row>
  </ion-grid>
    
  
</ion-footer>


