<ion-header>
	<a [routerLink]="['/home/']"><ion-icon name="arrow-back" class="icon-for-header"></ion-icon></a>
	<h1>New event</h1>
	<div class="trailing-icons">
		<button type="submit"><ion-icon name="checkmark" class="icon-for-header" style="font-size: 40px;"></ion-icon></button>
	</div>
</ion-header>
  
<ion-content>
<main>
	<!-- EVENT LOOKUP -->
	<div class="event-profile-container">
		<div class="event-photo">
			<div class="event-pic"></div>
			<div class="emoji"></div>
		</div>
			<!--<input type="text" name="event.name" [(ngModel)]="event.name" placeholder="Event name" class="textfield" required>-->
				<div class="edit-icon"></div>
	</div>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
<input formControlName="name" type="text" placeholder="Event name" class="field" required>

	<ion-input formControlName="event_datetime" type="text" placeholder="Datetime" class="field" required><ion-icon name="calendar-outline"></ion-icon><ion-icon name="time-outline"></ion-icon></ion-input>

	<ion-input formControlName="location" type="text" placeholder="Location" class="field" required></ion-input>

	<ion-input formControlName="participants" type="number" placeholder="Participants" class="textfield" required><ion-icon name="person-outline"></ion-icon></ion-input><ion-icon name="information-circle-outline"></ion-icon>

	<ion-input formControlName="description" type="text" placeholder="Description" class="textfield"></ion-input>

<ion-button type="submit" color="danger" expand="block" style="text-transform: none;">Create</ion-button>

</form>
</main>
</ion-content>