<!-- TOP BAR -->
<ion-header>
	<script src="home.page.ts"></script>
	<h1>Who’sUp</h1>
	<div class="trailing-icons">
		<!-- <ion-searchbar animated="true" placeholder="Explore" style="text-align: left"></ion-searchbar> -->
		<ion-icon name="search-outline" class="icon-for-header"></ion-icon>
		<ion-icon name="notifications-outline" class="icon-for-header"></ion-icon>
	</div>
</ion-header>

<!-- MAIN -->
<ion-content>
<main>
	<div class="my-events">
		<h4>My events</h4>
		<!-- link to user events -->
		<a class="link" [routerLink]="['/user/']">Show all<div class="arrowlink-icon"></div></a>
	</div>

<!-- BANNER. Si el user no tiene eventos, debería estar oculto -->
	<div class="banner">
		<!-- LITTLE EVENT PREVIEW -->
			<div *ngFor="let feed of events" class="little-user-event">
				<div class="event-photo">
					<div class="event-pic"></div>
					<div class="emoji"></div>
				</div>
				<div class="event-details">
					<!--CALENDAR-->
					<div class="cal">
						<div class="month">{{Months[feed.event_datetime.split('-')[1]]}}</div>
						<div class="date">{{feed.event_datetime.split('-')[2].split('T')[0]}}</div>
					</div>
					<!--ICON BELOW CALENDAR-->
					<div class="sub-detail">
						<!-- if config.online = true show computer, else pin -->
						<div class="pin-icon"></div>
						<p class="participant-count">{{feed.people_count}}/{{feed.max_people}}</p>
					</div>
				</div>
			</div>
		<!-- FIN BANNER -->
	</div>

	<h4>Open events</h4>
<!--    !!!!!    FEED FEED FEED FEED    !!!!!    HERE GOES NEW EVENTS      !!!!!     -->
<ion-list>
	<a [routerLink]="['/eventdetail/{{event.id}}']" *ngFor="let event of events">
		<div class="event-instance">
			<div class="event-photo">
				<div class="event-pic"></div>
				<div class="emoji"></div>
			</div>
			<div class="event-title">
				<!-- EVENT NAME -->
			<h3>{{event.name}}</h3>
				<!-- EVENT DESCRIPTION -->
				<h5>{{event.description}}</h5>
			</div>
			<div class="event-details">
			<!-- EVENT DATE -->
				<!--CALENDAR ICON-->
				<div class="cal"><span></span>
					<div class="month">{{Months[event.event_datetime.split('-')[1]]}}</div>
					<div class="date">{{event.event_datetime.split('-')[2].split('T')[0]}}</div>
				</div>

				<div class="sub-detail">
					<!-- if config.online = true, show computer-icon, else, show pin-icon -->
					<div class="pin-icon" slot="end"></div>
					<!-- PARTICIPANT COUNT -->
					<div class="participant-count">{{event.people_count}}/{{event.max_people}}</div>
				</div>
			</div>
		</div>
	</a>
</ion-list>

</main>
</ion-content>

<!-- BOTTOM BAR -->
<ion-footer>
	<ul class="menu">
		<li class="active"><a class="home-icon" [routerLink]="['/home/']"></a></li>
		<li><a [routerLink]="['/explore/']"><ion-icon name="search-outline" class="icon-for-header"></ion-icon></a></li>
		<li><a class="new-event-icon" [routerLink]="['/newevent/']"></a></li>
		<li><a class="map-icon" [routerLink]="['/map/']"></a></li>
		<li><a class="person-icon" [routerLink]="['/user/']"></a></li>
	</ul>
</ion-footer>
