<!-- TOP BAR -->
<ion-header>
	<a [routerLink]="['/home/']"><ion-icon name="arrow-back" class="icon-for-header"></ion-icon></a>
	<h1 *ngIf="contentReady | async">{{event.name}}</h1>
	<div class="trailing-icons">
		<button id="click-trigger"><ion-icon name="ellipsis-vertical" class="icon-for-header"></ion-icon></button>
		<!-- POPOVER -->
		<ion-popover trigger="click-trigger" side="left" alignment="start" [dismissOnSelect]="true" triggerAction="click">
			<ng-template>
				<div class="popover">
					<!-- POPOVER OPTIONS -->
					<button routerLink="/event/update/{{event.id}}">Edit<ion-icon name="pencil-sharp"></ion-icon></button>
					<button>Share<ion-icon name="share-social-outline"></ion-icon></button>
					<button>Add to calendar<ion-icon name="today-outline"></ion-icon></button>
					<button>Mute<ion-icon name="notifications-off-outline"></ion-icon></button>
					<button>Unjoin<ion-icon name="person-remove-outline"></ion-icon></button>
					<button (click)="removeEvent(event)">Delete<ion-icon name="trash-outline"></ion-icon></button>
				</div>
			</ng-template>
		</ion-popover>
	</div>
</ion-header>

<!-- MAIN -->
<ion-content> <!--  *ngIf="contentReady | async" -->
<main *ngIf="contentReady | async">
	<!-- LOOKUP -->
	<div class="lookup" >
		<!-- EVENT DATE -->
		<div class="cal"><span></span>
			<div class="month">{{Months[date.split('-')[1]]}}</div> <!-- {{Months[event.event_datetime.split('-')[1]]}} -->
			<div class="date">{{date.split('-')[2]}}</div> <!-- {{event.event_datetime.split('-')[2].split('T')[0]}} -->
		</div>
		<!-- EVENT IMAGE -->
		<div class="event-photo">
			<div class="event-pic" style="background-image: url({{event.image_URL}});"></div>
			<div class="emoji">{{event.icon}}</div>
		</div>
		<!-- PARTICIPANT COUNT  {{event.people_count}}/{{event.max_people}} -->
		<div class="participant-count">{{event.people_count}}/{{event.max_people}}</div>
	</div>

	<!-- DETAILS CONTAINER -->
	<div class="join-container">
		<div class="time-and-place">
			<!-- TIME -->
			<div class="detail-div"><ion-icon name="time-outline"></ion-icon>{{time}}</div>
			<!-- PLACE -->
			<!-- if config.online = true, show computer icon, else show pin -->
			<div class="detail-div"><div class="pin-icon"></div>{{event.location}}</div>
		</div>
		<!-- JOIN BUTTON -->
		<button class="join-button">Join</button>
	</div>

	<!-- DESCRIPTION -->
	<h4>Description</h4>
	<p class="description-body">{{event.description}}</p>

	<!-- PARTICIPANTS -->
	<h4>Participants</h4>
	<item>
		<div class="participant" *ngFor="let participant of event.participants">
			<div class="user-pic" style="background-image: url({{participant.image_URL}});"></div>
			<h3>{{participant.name}}</h3>
			<!-- if participant.id == event.host_id, show Creator -->
			<p>Creator</p>
		</div>
	</item>

</main>
</ion-content>

<!-- BOTTOM BAR -->
<ion-footer>
	<ul class="menu">
		<li><a class="home-icon" [routerLink]="['/home/']"></a></li>
		<li><a [routerLink]="['/explore/']"><ion-icon name="search-outline" class="icon-for-header"></ion-icon></a></li>
		<li><a class="new-event-icon" [routerLink]="['/newevent/']"></a></li>
		<li><a class="map-icon" [routerLink]="['/map/']"></a></li>
		<li><a class="person-icon" [routerLink]="['/user/']"></a></li>
	</ul>
</ion-footer>