<!-- TOP BAR -->
<ion-header>
	<a [routerLink]="['/home/']"><ion-icon name="arrow-back" class="icon-for-header"></ion-icon></a>
	<h1>Event name</h1>
	<div class="trailing-icons">
		<ion-icon name="ellipsis-vertical" class="icon-for-header"></ion-icon>
		<!-- POPOVER OPTIONS -->
		<!--
	<div class="item-note" item-end>
		<button ion-button clear (click)="removeEvent(event)">
			<ion-icon name="trash" style="zoom:1.5"></ion-icon>
		</button>
	</div>
	<div class="item-note" item-end>
		<button ion-button clear [routerLink]="['/update/', event.id]">
			<ion-icon name="create" style="zoom:1.5"></ion-icon>
		</button>
	</div>
-->
	</div>
</ion-header>

<!-- MAIN -->
<ion-content>
<main>
	<!-- LOOKUP -->
	<div class="lookup">
		<!-- EVENT DATE -->
		<div class="cal"><span></span>
			<div class="month">OCT</div> <!-- {{Months[event.event_datetime.split('-')[1]]}} -->
			<div class="date">21</div> <!-- {{event.event_datetime.split('-')[2].split('T')[0]}} -->
		</div>
		<!-- EVENT IMAGE -->
		<div class="event-photo">
			<div class="event-pic"></div>
			<div class="emoji"></div><!-- <ion-icon name="happy-outline"></ion-icon> -->
		</div>
		<!-- PARTICIPANT COUNT  {{event.people_count}}/{{event.max_people}} -->
		<div class="participant-count">100/100</div>
	</div>

	<!-- DETAILS CONTAINER -->
	<div class="join-container">
		<div class="time-and-place">
			<!-- TIME -->
			<div class="detail-div"><ion-icon name="time-outline"></ion-icon>2:00 PM - 6:00 PM</div>
			<!-- PLACE -->
			<!-- if config.online = true, show computer icon, else show pin -->
			<div class="detail-div"><div class="pin-icon"></div>Parquesito</div>
		</div>
		<!-- JOIN BUTTON -->
		<button class="join-button">Join</button>
	</div>

	<!-- DESCRIPTION -->
	<h4>Description</h4>
	<p class="description-body">Comer papita</p>

	<!-- PARTICIPANTS -->
	<h4>Participants</h4>
	<item><!-- *ngFor="let participant of participants" -->
		<div class="participant">
			<div class="user-pic"></div>
			<h3>Pepocho</h3>
			<!-- if participant.id == event.host_id, show Creator -->
			<p>Creator</p>
		</div>
	</item>

</main>
</ion-content>

<!-- BOTTOM BAR -->
<ion-footer>
	<ul class="menu">
		<li><a class="home-icon" [routerLink]="['/home/']"></a></li>
		<li><a [routerLink]="['/explore/']"><ion-icon name="search-outline" class="icon-for-header"></ion-icon></a></li>
		<li><a class="new-event-icon" [routerLink]="['/newevent/']"></a></li>
		<li><a class="map-icon" [routerLink]="['/map/']"></a></li>
		<li><a class="person-icon" [routerLink]="['/user/']"></a></li>
	</ul>
</ion-footer>