main {
	padding: 0px 5px;
}
h4 {
	color: rgb(140, 140, 140);
}
.lookup {
	width: 100%;
	padding: 15px 30px;
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 0;
}
.pin-icon {
	background-size: 10px;
	min-width: 20px;
	height: 20px;
}
.join-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	flex-grow: 0;
	padding: 10px 20px;
}
.join-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 120px;
	background: #E53757;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	font-size: 20px;
	color: white;
	font-weight: 500;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.time-and-place {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: auto;
	align-self: center;
	gap: 10px;
}
.detail-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	gap: 10px;
}
.description-body {
	font-size: 1em;
	padding: 0px 30px;
	width: 100%;
	height: auto;
	color: rgba(33, 33, 33, 1);
}
.participant-count {
	margin-top: 0;
	font-size: 24px;
	margin-left: 0;
}
.event-photo {
	margin-left: 15px;
}
.event-pic {
	min-width: 80px;
	min-height: 80px;
}
.emoji {
	padding: 12px;
}

.cal {
	width: 60px;
	height: 60px;
}
.cal .month {
	font-size: 0.8rem;
}
.cal .date {
	font-size: 1.8rem;
}