<ion-content>
	<!-- FORM -->
	<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" class="form">
		
		<!-- LOGO -->
		<div class="logo">
			<img src="../../../assets/images/logo.png" alt="Logo">
			<h1>Who'sUp</h1>
		</div>

		<!-- EMAIL TO LOGIN -->
		<div class="field">
			<label for="email">Email</label>
			<input class="textfield" placeholder="example@mail.com" type="email" id="email" formControlName="username" required>
		</div>

		<!-- PASSWORD -->
		<div class="field">
			<label for="pass">Password</label>
			<input formControlName="password" class="textfield" type="password" id="pass" placeholder="password" required>
		</div>

		<!-- LOG IN / SIGN UP -->
		<div class="buttonsdiv">
			<button class="logbutton" type="submit" [disabled]="!loginForm.valid">Log in</button>
			<button class="logbutton" type="button" [routerLink]="['/signup/']">Sign up</button>
		</div>

	</form>
</ion-content>


	