<ion-content>
<!-- FORM -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
	<!-- LOGO -->
	<div class="logo">
		<img src="../../../assets/images/logo.png" alt="Logo">
		<h1>Who'sUp</h1>
	</div>

	<!-- EMAIL TO LOGIN -->
	<div class="field">
		<label for="email">Email</label>
		<input class="textfield" type="email" id="email" pattern=".+@.\.com" placeholder="example@mail.com" required>
	</div>

	<!-- PASSWORD -->
	<div class="field">
		<label for="pass">Password</label>
		<input class="textfield" type="password" id="pass" placeholder="password" required>
	</div>

	<!-- LOG IN / SIGN UP -->
	<div class="buttonsdiv">
		<button class="logbutton" type="submit">Log in</button>
		<button class="logbutton" type="button" [routerLink]="['/signup/']">Sign up</button>
	</div>

</form>
</ion-content>
