<ion-header>
  <ion-toolbar>
    <ion-title>Update Event</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateEventFg" (ngSubmit)="onSubmit()">
      
      <ion-item>
        <ion-label position="floating">Event Name</ion-label>
        <ion-input formControlName="event_name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Event Date/Time</ion-label>
        <ion-input formControlName="event_datetime" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Participants</ion-label>
        <ion-input formControlName="participants" type="text" required>
        </ion-input>
      </ion-item>   

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text" required>
        </ion-input>
      </ion-item>   

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-list>
</ion-content>