<ion-header>

</ion-header>

<ion-content>
  <h1 style="color: #36BAFB; font-size: 150px; font-family: Poppins !important;">
    Who's Up<ion-icon style="font-size: 150px; color: red; margin-top: 8px" name="pin-outline"></ion-icon>
  </h1>
  
			<br>
      <ion-card>
      <ion-row style="margin-bottom: -10px">
        <ion-col style="text-align: center"><ion-button style="--background: #EB2026; text-transform: none;font-size:25px; height: 50px; width: 100%" [routerLink]="['/login']">
          Sign in
        </ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center"><ion-button style="--background: #EB2026; text-transform: none; font-size:25px; height: 50px; width: 100%" >
				Sign up
			</ion-button></ion-col></ion-row>
    </ion-card>
			
</ion-content>
