<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" style="--color: black; font-size: 30px; height: 100%;" [routerLink]="['/start']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="font-size: 30px; color:#36BAFB; font-family: Poppins !important;"></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="color: #36BAFB; font-size: 150px; font-family: Poppins !important;">
    Who's Up<ion-icon style="position: absolute; font-size: 150px; color: red; margin-top: 8px" name="pin-outline"></ion-icon>
  </h1>
  <ion-card>
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <ion-row style="margin-bottom: -10px">
    <ion-col style="text-align: center"><ion-button style="--background: #EB2026; text-transform: none;font-size:25px; height: 50px; width: 100%" [routerLink]="['/login']">
      Login
    </ion-button></ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center"><ion-button style="--background: #EB2026; text-transform: none; font-size:25px; height: 50px; width:100%" >
    Login Google
  </ion-button></ion-col></ion-row>
</ion-card>
  
</ion-content>
