<ion-header>
	<a [routerLink]="['/home/']"><ion-icon name="arrow-back" class="icon-for-header"></ion-icon></a>
	<h1>New event</h1>
	<div class="trailing-icons">
		<button form="ngform" type="submit"><ion-icon name="checkmark" class="icon-for-header" style="font-size: 40px;"></ion-icon></button>
	</div>
</ion-header>
  
<ion-content>
<main>
	<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" id="ngform">
	<!-- EVENT LOOKUP -->
	<div class="event-profile-container">
		<div class="event-photo">
			<div type="button" id="event-image-button" value="click" class="event-pic"></div>
			<ion-popover class="popover" trigger="event-image-button" triggerAction="click">
				<ng-template>
					<ion-content class="ion-padding">
						<ion-input formControlName="image_URL" type="url" placeholder="http://" class="field" (change)="refreshImg()"></ion-input>
					</ion-content>
				</ng-template>
			</ion-popover>
			<div class="emoji"></div>
		</div>
		<!-- NAME FIELD -->
		<input formControlName="name" type="text" placeholder="Event name" class="textfield" required>
		<div class="edit-icon"></div>
	</div>

<!-- DATE FIELD -->
	<section type="button" required>
		<ion-modal [keepContentsMounted]="true">
			<ion-datetime class="field" placeholder="Select a date" id="datetime" displayFormat="DD/MM/YYYY" min="2022-11-04" max="2023-12-04" value="2022-11-04T15:03:46.789"></ion-datetime>
		</ion-modal>
	</section>
	<ion-input formControlName="event_datetime" type="text" placeholder="Datetime" class="field" required><ion-icon name="calendar-outline"></ion-icon><ion-icon name="time-outline"></ion-icon></ion-input>

<!-- PLACE AND ONLINE BUTTONS -->
<!-- necesita un script para cambiarle la clase al que este onclick -->
<div class="place-or-online">
	<button type="button" class="unselected-button" value="click">
		<div class="pin-outlined-icon"></div>
		<div class="buttontext">Place</div>
	</button>

	<button type="button" class="unselected-button" value="click">
		<div class="computer-icon-black"></div>
		<div class="buttontext">Online</div>
	</button>
</div>

<!-- LOCATION FIELD -->
	<ion-input formControlName="location" type="text" placeholder="Location" class="field" required></ion-input>
<!-- MAX PEOPLE FIELD -->
	<h4>Max people</h4>
	<ion-input formControlName="max_people" type="number" placeholder="Max people" class="field" required><ion-icon name="person-outline"></ion-icon><ion-icon name="information-circle-outline"></ion-icon></ion-input>
<!-- DESCRIPTION FIELD -->
	<ion-input formControlName="description" type="text" placeholder="Description" class="textfield"></ion-input>

</form>
</main>
</ion-content>